doctype html
html
include navbar.pug
head
  meta(charset='UTF-8')
  title Sample Site
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  style.
    body { padding-top: 50px;}
a(href='https://www.linkedin.com/in/iamabjain/') My Linkedin
br
a(href='https://github.com/iamabjain' class="mail-bulk") My github profile
br
a(href='https://www.linkedin.com/in/iamabjain/' ) My Linkedin
  
.container
  ul#UL
